需求点：
1. 能够管理待关闭的主机，包括增加、删除、修改、查询；
2. 检查哪些主机已经关机，哪些主机没有关机；
3. 支持自动关闭主机；
	a. 有的主机可能有多个控制器，如存储设备，要同时将多个控制器都给关闭；
	b. 主机下的所有控制器都关了才能算是该主机被关掉了；
	c. 需要支持Linux/MacroSAN/Windows Server平台的自动关闭；
	d. 能够检测主机是否支持自动关闭功能；
4. 提供手动关闭待关闭的主机；
5. 管理不关机主机列表，包括增加、删除、修改、查询；
6. 自动导出所有的不关机主机列表，用于申请不关机权限；
7. 定时关机自动关机功能（暂时不需要改功能，后续看是否需要改需求）





设计文档
1. 基于python开发，选择python 2.7版本

主机
	节点1
	节点2
	节点3
	...
	节点n

主机属性：
	uuid
	别名
	是否关闭
	是否支持自动关闭
	类型 ---- 虚拟主机的类型


节点
	uuid
	ip
	所属主机

